/* BODY */
body {
    background-color: aliceblue;
    font-family: 'Roboto', 'Verdana', 'sans-serif';
}


/* HEADER */
#headerDescription {
    margin-top: 20px;
}

header {
	h3, nav {
		display: inline-block;
	}

	h3 {
	    margin: 0;
	    font-style: italic;
	}
}

.jumbotron {
  padding-top: 1px;
  background-color: #92ef95;
  border-radius: 0 0 15px 15px !important;
}

#signupContainer {
    text-align: center;
}


/* MAIN */
main {
    background-color: rgb(110, 157, 198);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 100px;

		.header {
		    display: inline-block;
				margin-bottom: 40px;
		}

		.header, .group {
			padding: 10px 30px;
			border-radius: 10px;
			background: rgba(255, 255, 255, 0.85);
		}

		.group {
			margin: 0 auto 20px auto;
			position: relative;
			padding-left: 80px;
			text-align: center;
			width: 350px;
			min-height: 86px;
		}

		.group:hover .group-chevron {
			transform: translateY(-50%);
		}

		.group-chevron {
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translateY(-50%) rotateZ(-90deg);
			font-size: 55px;
			transition: transform 0.5s;
		}

		#groupsList {
			padding-left: 0;
		}

		.group h3 {
			margin-top: 10px;
			color: black;
		}
}

main.list {
  position: relative;
}

.glyphicon {
  top: 3px;
}

a, a:hover, a:focus  {
    color: #337ab7;
    text-decoration: none;
}

li {
  list-style-type: none;
}

.info {
  margin-left: 30px;
  font-style: italic;
  font-size: 15px;
}

.green {
  color: green;
}

.red {
  color: red;
}

button.add {
  position: absolute;
  top: 0;
  right: 0;
}

#submitContainer {
    padding: 20px 0 15px 0;
}



/* EDITOR */
#editor {
  height: 500px;
  margin: 0;
}

main.editor {
	nav {
	  margin-bottom: 15px;
	  display: flex;
	  flex-flow: row wrap;

		& > div {
			display: inline-flex;
		}
	}

	.empty-nav {
		flex: 1 0;
	}
}

#fileName {
  color: #fff;
  font-family: courier;
  background-color: #92ef95;
  font-size: 20px;
  padding: 3px;
  border-radius: 3px;
}

#runFile {
  font-weight: bold;
  font-size: 17px;
}


/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #92ef95;
    opacity: 0.7;
    height: 50px;
    padding: 15px;
    width: 100%;
    text-align: center;
    transition: opacity 1s;
    z-index: 4;

		h4 {
			margin: 0;
		}
}
