/* BODY */
html.peek, body.peek {
	border-radius: 20px;
	background-color: transparent;
}

body {
    background-color: aliceblue;
    font-family: 'Roboto', 'Verdana', 'sans-serif';

		.cover, iframe {
			display: none;
		}

		.cover {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 10;
			background: rgba(255, 255, 255, 0.8);
		}

		iframe {
			width: 1140px;
			height: 700px;
			z-index: 11;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
}




/* HEADER */
#headerDescription {
    margin-top: 20px;
}

header {
	h3, nav {
		display: inline-block;
	}

	h3 {
	    margin: 0;
	    font-style: italic;
	}
}

.jumbotron {
  padding-top: 1px;
  background-color: #92ef95;
  border-radius: 0 0 15px 15px !important;
}

#signupContainer {
    text-align: center;
}


/* MAIN */
main {
    background-color: rgb(110, 157, 198);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 100px;

		&.peek {
			margin-bottom: 0;
		}

		.header {
		    display: inline-block;
				margin-bottom: 40px;

				.group-info {
					font-size: 15px;
					font-style: italic;
					color: #4c4c4c;
				}
		}

		.header, .group {
			padding: 10px 30px;
			border-radius: 10px;
			background: rgba(255, 255, 255, 0.85);
		}

		.group {
			margin: 20px auto 0 auto;
			position: relative;
			padding-left: 80px;
			padding-right: 40px;
			text-align: center;
			width: 400px;
			min-height: 86px;

			&.no-bottom-border-radius {
				border-radius: 10px 10px 0 0;
			}

			&:hover .group-chevron {
				transform: translateY(-50%);
			}

			.peek {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				border-radius: 0 10px 10px 0;
				outline: 0 !important;

				&.no-bottom-right-border-radius {
					border-radius: 0 10px 0 0;
				}
			}
		}

		.group-chevron {
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translateY(-50%) rotateZ(-90deg);
			font-size: 55px;
			transition: transform 0.5s;
		}

		#groupsList {
			padding-left: 0;
		}

		.group h3 {
			margin-top: 10px;
			color: black;
		}

		.user-files {
	    border: 2px solid rgba(51, 122, 183, 0.4);
	    margin: 20px 0;
	    border-radius: 10px;
	    padding: 10px 15px;
	    background: rgba(255,255,255,0.8);
	    box-shadow: 0 0 20px 1px #757575;

			&.prof-files {
				margin-bottom: 60px;
			}

			h3 {
				margin: 0;
			}

			.user-info {
				font-size: 15px;
				font-style: italic;
				color: #4c4c4c;
			}

			.clone-file {
				width: 400px;
				margin: 0 auto 20px auto;

				& button {
					border-radius: 0 0 6px 6px;
					width: 100%;
				}
			}
		}
}

main.list {
  position: relative;
}

.glyphicon {
  top: 3px;
}

a, a:hover, a:focus  {
    color: #337ab7;
    text-decoration: none;
}

li {
  list-style-type: none;
}

.info {
  margin-left: 30px;
  font-style: italic;
  font-size: 15px;
}

.green {
  color: green;
}

.red {
  color: red;
}

button.add {
  position: absolute;
  top: 0;
  right: 0;
}

#submitContainer {
    padding: 20px 0 15px 0;
}



/* EDITOR */
#editor {
  height: 500px;
  margin: 0;
}

main.editor {
	& > div {
		margin-bottom: 50px;

		button {
			font-weight: bold;
			font-size: 17px;

			a {
				color: white;
			}
		}
	}

	nav {
	  margin-bottom: 15px;
	  display: flex;
	  flex-flow: row wrap;

		& > div {
			display: inline-flex;
		}
	}

	.empty-nav {
		flex: 1 0;
	}

	.right-nav {
		button {
			font-weight: bold;
			font-size: 17px;
		}
	}
}

#fileName {
  color: #fff;
  font-family: courier;
  background-color: #92ef95;
  font-size: 20px;
  padding: 3px;
  border-radius: 3px;
}

#saveFile {
	margin-right: 5px;
}

#runFile {
	&:hover:not(.disabled) .glyphicon {
		transform: rotateZ(180deg);
	}

	.glyphicon {
		transition: transform 0.6s;
	}
}

#changeStatus {
	line-height: 38px;
	color: white;
	font-size: 15px;
	cursor: pointer;

	.file-status {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		display: inline-block;
		margin: 0 10px 0 4px;
		vertical-align: middle;
		transition: background-color 1s;

		&.true {
			background: red;
		}

		&.false {
			background: #92ef95;
		}
	}
}



/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #92ef95;
    opacity: 0.7;
    height: 50px;
    padding: 15px;
    width: 100%;
    text-align: center;
    transition: opacity 1s;
    z-index: 4;

		h4 {
			margin: 0;
		}
}
